<ion-header>
  <ion-toolbar>
    <ion-title>RECUPERAR CONTRASEÑA ALUMNO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="container">
    <img src="assets/contrasena.png" alt="Image Description" >
    <ion-item>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input [(ngModel)]="nuevaContrasena" type="password"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="recuperarContrasena()">Recuperar Contraseña</ion-button>
  </ion-card>
</ion-content>
