<ion-header>
  <ion-toolbar>
    <ion-title>
      Login Alumno
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="container">
    <img src="assets/graduado.png" style="width: 500px;">
    <ion-item style="text-align: center;">
      <ion-label position="stacked">Correo Electrónico</ion-label>
      <ion-input [(ngModel)]="email" type="email"></ion-input>
    </ion-item>
    <ion-item style="text-align: center;">
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input [(ngModel)]="contrasena" type="password"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="login()">Ingresar</ion-button>
    <ion-button expand="full" (click)="redirectToRecuperarAlumno()">Recuperar contraseña</ion-button>
  </ion-card>
</ion-content>
