<ion-header>
  <ion-toolbar>
    <ion-title>
      Iniciar Sesión como Profesor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <img src="src=assets/profe.png;"style="width: 500px;">
    <br>
    <br>
    <br>
    <ion-item style="text-align:center">
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="correo"></ion-input>
    </ion-item>

    <ion-item style="text-align:center">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="contrasena"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="login()">Iniciar Sesión</ion-button>

    <ion-button expand="full" (click)="redirectToRecuperarProfesor()">¿Olvidaste tu contraseña?</ion-button>
  </div>
</ion-content>
