<ion-header>
  <ion-toolbar>
    <ion-title>Control de Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Sección: {{ seccion }}</h2>
  <h3>Profesor: {{ profesorActual.nombre }}</h3>
  <h4>Clase: {{ clase }}</h4>

  <ion-list>
    <ion-item *ngFor="let alumno of alumnos">
      <ion-label>{{ alumno.nombre }}</ion-label>
      <ion-checkbox [(ngModel)]="alumno.presente" (ionChange)="marcarAsistenciaAlumno(alumno.id, alumno.presente)"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
