<ion-header>
  <ion-toolbar>
    <ion-title>
      Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="container">
    <img alt="home" src="assets/educacion.png" />
    <ion-card-header>
      <ion-card-title>INGRESA</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" (click)="redirectToLogin('alumno')">Alumno</ion-button>
      <ion-button expand="full" (click)="redirectToLogin('profesor')">Profesor</ion-button>
    </ion-card-content>
    <!-- Poner boton donde entre a la funcion de la camara -->
    <ion-button (click)="camaraOpen()">camara</ion-button>
  </ion-card>
</ion-content>
